#root, .app {
  height: 100%;
}

.app-content {
  top: 55px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: auto;
  height: auto;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
